.content {
  @include breakpoint(lg) {
    @include display-flex(space-between, flex-start, row-reverse);
    padding: rem(35);
  }
  @include breakpoint(xl) {
    @include display-flex(space-between, $flex-direction: row-reverse);
    padding: rem(15) 0 0 rem(95);
  }

  &__img-wrapper {
    width: 100%;

    @include breakpoint(lg) {
      height: rem(436);
      max-width: 50%;
    }
    @include breakpoint(xl) {
      min-width: 55%;
      height: rem(650);
    }
  }

  &__image {
    height: auto;
    width: 100%;

    @include breakpoint(lg) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    @include display-flex($align-items: flex-start, $flex-direction: column);
    padding: rem(35) rem(15);
    text-align: left;
    gap: rem(20);

    @include breakpoint(md) {
      padding: rem(30);
    }
    @include breakpoint(lg) {
      @include display-flex(flex-start, flex-start, column);
      width: 50%;
      padding: rem(10) 0;
      gap: rem(20);
    }
    @include breakpoint(xl) {
      width: 40%;
      @include display-flex(space-between, flex-start, column);
    }
  }
  .text {
    &__sub-heading {
      @include basic-typography($semibold-weight);
      text-transform: uppercase;
    }

    &__main-heading {
      @include heading-typography;
      @include ellipsis(2);

      @include breakpoint(md) {
        @include ellipsis(3);
      }
      @include breakpoint(lg) {
        @include ellipsis(2);
      }
      @include breakpoint(xl) {
        @include ellipsis(2);
      }
    }

    &__para {
      @include description-typography;
      @include ellipsis(8);

      @include breakpoint(md) {
        @include description-typography;
        @include ellipsis(5);
      }
      @include breakpoint(lg) {
        @include ellipsis(6);
      }
      @include breakpoint(xl) {
        @include ellipsis(6);
      }
    }

    &__link {
      @include button-typography;
      color: $primary-light-sea-green;
      &:hover {
        color: $dark-light-sea-green;
      }
    }
  }
}
