.downloads-info {
    // border: 1px solid black;
    @include display-flex(flex-start,center,column);
    gap: rem(30);

    @include breakpoint(md) {
        gap:rem(85);
    }

    @include breakpoint(lg){
        @include display-flex(space-between,flex-start,row);
        gap: rem(100);
        margin-top: rem(50);
    }
    &__text {
        // border: 1px solid red;
        margin-top: rem(30);

        @include display-flex(space-between,flex-start,column);
        gap: rem(20);
        @include breakpoint(md) {
            margin: 0;
            gap: rem(5);
        }
        @include breakpoint(lg){
            max-width: 52%;
            // margin-top: rem(40);
            gap: rem(25);
        }

    }
    
    &__heading {
        @include heading-typography;
    }

    &__landscape-layout {
        // border: 1px solid blue;

        @include breakpoint(md) {
            @include display-flex(space-between,flex-end,row);
            // gap: rem(50);
        }
        @include breakpoint(lg){
            @include display-flex(space-between,flex-start,column);
            // width: 50%;

        }

    }

    &__para {
        // border: 1px solid red;
        @include description-typography;
        @include breakpoint(md) {
            max-width: 50%
        }
        @include breakpoint(lg) {
            max-width: 100%;
            margin-bottom: rem(30);
        }
    }

    &__apps {
        // border: 1px solid red;
        @include display-flex(flex-start,flex-start,column);
        gap: rem(20);

        @include breakpoint(md) {
            gap:rem(10);
        }

        @include breakpoint(lg){
            @include display-flex(flex-start,flex-start,row);
            gap: rem(20);
        }

    }

    &__para-xs {
        @include description-typography-xs;

        // @include breakpoint(md) {
        //     display:none;
        // }

        @include breakpoint(md) {
            display:block;
        }
    }

    &__img-wrapper{
        // min-height: rem(470);
        width: 60%;

        @include breakpoint(lg) {
            margin-top: rem(50);
            width: 30%;
            // margin-right: rem(20);
        }
    }

    &__image {
        width: 100%;
        height: auto;
        // object-fit: contain;
    }
}