.hero {
  @include display-flex($flex-direction: column);
  gap: rem(28);
  margin-top: rem(15);
  margin-bottom: rem(50);

  @include breakpoint(md) {
    margin-top: rem(35);
    margin-bottom: rem(40);
    gap: rem(8);
  }
  @include breakpoint(lg) {
    @include display-flex(space-between, $flex-direction: column);
    margin-top: rem(48);
    gap: rem(35);
  }
  @include breakpoint(xl) {
    @include display-flex($flex-direction: column);
    margin-top: rem(98);
    margin-bottom: rem(100);
    gap: rem(50);
  }

  &__card {
    @include display-flex($flex-direction: column);
    padding: rem(20) 0;
    gap: rem(32);

    @include breakpoint(md) {
      @include display-flex($align-items: flex-start, $flex-direction: column);
      padding: 0;
      gap: rem(12);
    }
    @include breakpoint(lg) {
      @include display-flex($align-items: flex-start, $flex-direction: row);
      gap: rem(20);
    }
    @include breakpoint(xl) {
      @include display-flex(space-between, center, row);
      gap: 0;
    }
  }

  &__img-wrapper {
    height: rem(222);
    width: 100%;
    border-radius: rem(6);

    @include breakpoint(md) {
      height: rem(278);
    }
    @include breakpoint(lg) {
      max-width: 52%;
      height: rem(350);
    }
    @include breakpoint(xl) {
      max-width: 45%;
      height: rem(350);
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: rem(6);
  }

  &__content {
    @include display-flex($align-items: flex-start, $flex-direction: column);
    gap: rem(18);
    padding: 0 rem(1);
    max-width: 100%;

    @include breakpoint(md) {
      width: 78%;
      @include display-flex(flex-start, flex-start, column);
      gap: rem(20);
      padding: 0;
    }
    @include breakpoint(lg) {
      width: 50%;
      padding-left: rem(10);
    }
    @include breakpoint(xl) {
      @include display-flex($align-items: flex-start, $flex-direction: column);
      padding: 0;
    }
  }

  .content {
    &__heading {
      @include ellipsis(2);

      @include breakpoint(md) {
        @include ellipsis(3);
      }
      @include breakpoint(lg) {
        @include ellipsis(2);
      }
      @include breakpoint(xl) {
        @include ellipsis(2);
      }
    }

    &__description {
      @include ellipsis(5);

      @include breakpoint(md) {
        @include ellipsis(2);
      }
      @include breakpoint(lg) {
        @include ellipsis(3);
      }
      @include breakpoint(xl) {
        @include ellipsis(2);
      }
    }

    &__btn {
      margin-top: rem(13);
      padding: 1.2rem 1.5rem;
    }
  }

  &__brands {
    width: 100%;

    @include breakpoint(md) {
      padding: 0;
    }
  }

  &__brand-partners {
    @include basic-typography;
    text-transform: uppercase;
    margin-bottom: rem(30);

    @include breakpoint(lg) {
      margin-bottom: rem(22);
    }
    @include breakpoint(xl) {
      margin-bottom: rem(25);
    }
  }

  &__brands-list {
    @include display-flex(flex-start, center);
    flex-wrap: wrap;
    gap: rem(16);

    @include breakpoint(md) {
      gap: rem(25);
    }
    @include breakpoint(lg) {
      padding: 0;
      @include display-flex(space-between, center);
      gap: 0;
    }
    @include breakpoint(xl) {
      @include display-flex(space-between, center);
    }
  }
}
