.hero {
  &__container {
    @include breakpoint(md) {
      gap: rem(5);
    }
    @include breakpoint(lg) {
      @include display-flex(space-between, $flex-direction: column);
      gap: rem(25);
    }

    @include breakpoint(xl) {
      @include display-flex($flex-direction: column);
      gap: rem(32);
    }

    @include display-flex($flex-direction: column);
    gap: rem(15);
  }

  &__card {
    @include display-flex($flex-direction: column);
    @include breakpoint(md) {
      @include display-flex($align-items: flex-start, $flex-direction: column);
      padding: 0;
      gap: rem(18);
    }
    @include breakpoint(lg) {
      padding: 0;
      @include display-flex($align-items: flex-start, $flex-direction: row);
    }
    @include breakpoint(xl) {
      @include display-flex(space-between, center, row);
      padding: rem(10) 0;
      gap: 0 rem(20);
    }
    padding: rem(20) rem(4);
    gap: rem(36);
  }

  &__img-wrapper {
    @include breakpoint(md) {
      height: rem(278);
    }
    @include breakpoint(lg) {
      max-width: 52%;
      height: rem(350);
    }
    @include breakpoint(xl) {
      max-width: 45%;
      height: rem(350);
    }
    height: rem(222);
    width: 100%;
    border-radius: rem(6);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: rem(6);
  }

  &__content {
    @include display-flex($align-items: flex-start, $flex-direction: column);
    @include breakpoint(md) {
      width: 78%;
      @include display-flex(flex-start, flex-start, column);
      gap: rem(20);
      padding: 0;
    }
    @include breakpoint(lg) {
      width: 50%;
      padding-left: rem(10);
    }
    @include breakpoint(xl) {
      @include display-flex($align-items: flex-start, $flex-direction: column);
      padding: 0;
    }
    gap: rem(18);
    padding: 0 rem(1);
    max-width: 100%;
  }

  .content {
    &__heading {
      @include heading-typography(
        $semibold-weight,
        rem(36),
        rem(-0.8),
        rem(46)
      );
      @include ellipsis(2);

      @include breakpoint(md) {
        @include heading-typography($semibold-weight);
        @include ellipsis(3);
      }

      @include breakpoint(lg) {
        @include heading-typography(
          $semibold-weight,
          rem(32),
          rem(-1.2),
          rem(40)
        );
        @include ellipsis(2);
      }

      @include breakpoint(xl) {
        @include heading-typography($semibold-weight);
        @include ellipsis(2);
      }
    }

    &__description {
      @include description-typography(rem(20));
      @include ellipsis(5);
      //same for md,lg,xl
      @include breakpoint(md) {
        @include description-typography();
        @include ellipsis(2);
      }
      @include breakpoint(lg) {
        @include ellipsis(3);
      }
      @include breakpoint(xl) {
        @include ellipsis(2);
      }
    }

    &__btn {
      @include breakpoint(md) {
        margin-top: rem(13);
        margin-bottom: 0;
      }
      margin: rem(13) 0;
    }
  }

  &__brands {
    @include breakpoint(md) {
      padding: 0;
    }
    padding: rem(4);
    width: 100%;
  }

  &__brand-partners {
    @include heading-typography($regular-weight, rem(13), rem(1), rem(14));
    @include breakpoint(lg) {
      margin-bottom: rem(18);
    }
    @include breakpoint(xl) {
      margin-bottom: rem(25);
    }
    text-transform: uppercase;
    padding: rem(4);
  }

  &__brands-list {
    @include display-flex(flex-start, center);
    @include breakpoint(md) {
      gap: rem(20);
    }
    @include breakpoint(lg) {
      padding: 0;
      @include display-flex(flex-start, center);
      gap: rem(31);
    }
    @include breakpoint(xl) {
      padding: 0 rem(5);
      @include display-flex(space-between, center);
    }
    padding: rem(26) rem(5);
    flex-wrap: wrap;
    gap: rem(16);
  }
}
