//Navigation

.nav {
  @include display-flex($justify-content: space-between);
  padding: 1.5rem 2rem;
  font-size: 2rem;

  @include breakpoint(desktop) {
    gap: 2rem;
    font-size: 1.5rem;
  }
}

.nav__hamburger {
  cursor: pointer;
  display: block;
  z-index: 101;

  img {
    width: 3.2rem;
  }

  @include breakpoint(desktop) {
    display: none;
  }
}

.nav__menu {
  height: 100%;
  width: 100%;
  @include display-flex($justify-content: center);
  flex-direction: column;
  padding: 20rem 2rem;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s ease;

  @include breakpoint(desktop) {
    flex-direction: row;
    position: relative;
    padding: 0;
    right: 0;
    top: 4%;
  }
}

.nav__menu--left {
  @include display-flex($justify-content: space-around);
  padding: 0.2rem;

  flex-direction: column;
  width: 100%;
  li {
    padding: 1rem;
  }

  @include breakpoint(desktop) {
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.1rem;
  }
}
.nav__menu--right {
  width: 100%;
  @include display-flex($justify-content: flex-start);
  flex-direction: column;
  flex: 1;
  gap: 0.8rem;
  li {
    padding: 1rem;
  }
  @include breakpoint(desktop) {
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
  }
}

.nav__item > button {
  @include primary-button;
  font-size: 2rem;
  gap: 1.2rem;

  @include breakpoint(desktop) {
    font-size: 1.6rem;
  }
}

.btn-icon,
.btn-text {
  @include display-flex();
  text-align: center;
}

.active {
  right: -2rem;
  z-index: 100;
  transition: 0.5s ease;
  @include breakpoint(desktop) {
    flex-direction: row;
    height: 2rem;
    padding: 0;
    z-index: 0;
    position: relative;
    padding: 0;
    right: 0;
    top: 4%;
  }
}
