.nav {
  @include position(fixed, 0, 0, $left: 0);
  @include display-flex(space-between);
  margin: 0 auto;
  max-width: 1300px;
  background-color: $white;
  z-index: $z-index-1;
  padding: rem(15);

  @include breakpoint(md) {
    padding: rem(15) rem(30);
  }
  @include breakpoint(lg) {
    padding: rem(15) rem(35);
  }
  @include breakpoint(xl) {
    padding: rem(15) rem(30);
    gap: rem(25);
  }

  &__logo-wrapper {
    width: rem(38);
    z-index: $z-index-2;

    @include breakpoint(xl) {
      width: rem(52);
    }
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__hamburger-wrapper {
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: $z-index-2;
    cursor: pointer;

    @include breakpoint(xl) {
      display: none;
    }
  }

  &__hamburger {
    max-width: 100%;
    height: auto;
  }

  &__menu {
    @include position(fixed, 0, -100%);
    @include display-flex(flex-start, normal, column);
    background-color: $white;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;

    @include breakpoint(xl) {
      @include display-flex(space-between, $flex-direction: row);
      @include position(relative, $right: 0);
    }

    &--open {
      overflow-y: auto;
      overflow-x: hidden;
      right: 0;
      z-index: $z-index-1;
      transition: 0.5s ease;
      background-color: $gainsboro-1;

      @include breakpoint(xl) {
        @include position(relative);
        background-color: $white;
        z-index: $z-index-default;
      }
    }
  }

  &__item {
    border-bottom: 1px solid $white;

    @include breakpoint(xl) {
      border: none;
    }
  }

  &__btn-wrapper {
    border: none;
  }

  &__menu-left {
    @include display-flex(space-around, $flex-direction: column);
    margin-top: auto;

    @include breakpoint(xl) {
      @include display-flex(flex-start, $flex-direction: row);
      width: 60%;
      margin: 0;
      gap: rem(7);
    }

    .nav__item {
      width: 100%;
      padding: rem(10);
      text-align: center;

      @include breakpoint(xl) {
        width: fit-content;
      }
    }
  }

  &__menu-right {
    @include display-flex(space-between, $flex-direction: column);
    margin-bottom: auto;

    @include breakpoint(xl) {
      @include display-flex(flex-end, $flex-direction: row);
      width: 25%;
      margin: 0;
      gap: rem(30);
    }

    .nav__item {
      @include display-flex;
      width: 100%;
      text-align: center;
      padding: rem(10);

      @include breakpoint(xl) {
        padding: rem(8) 0;
        width: fit-content;
      }
    }
  }

  &__link {
    @include ellipsis(1);
    color: $black;
    max-width: rem(100);
    word-break: break-all;
    margin: 0 auto;
  }

  &__btn {
    height: fit-content;
    color: $white;

    &.active-link {
      background-color: $blue-lagoon;
    }

    &:hover {
      color: white;
    }
  }
}
