.newsletter {
  @include display-flex(flex-start, flex-start, column);
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  gap: rem(20);
  margin-top: rem(10);
  padding-bottom: rem(45);
  margin-bottom: rem(10);

  @include breakpoint(md) {
    gap: rem(41);
    margin-top: rem(30);
  }
  @include breakpoint(lg) {
    gap: rem(55);
    margin-top: rem(20);
    border: none;
  }
  @include breakpoint(xl) {
    @include display-flex(flex-start, flex-start, row);
    margin-top: rem(110);
    gap: 0;
  }

  &__content {
    @include display-flex(flex-start, flex-start, column);
    padding-top: rem(35);
    gap: rem(10);
    max-width: 100%;

    @include breakpoint(md) {
      padding-top: rem(30);
    }
    @include breakpoint(lg) {
      margin-top: rem(8);
      padding: 0 rem(5);
    }
    @include breakpoint(xl) {
      max-width: 50%;
      margin-top: 0;
      padding: 0;
    }
  }

  &__heading {
    @include breakpoint(md) {
      margin-top: rem(15);
    }
    @include breakpoint(xl) {
      margin-top: 0;
    }
  }

  &__para {
    @include ellipsis(3);
    width: 100%;

    @include breakpoint(md) {
      @include ellipsis(2);
    }
    @include breakpoint(xl) {
      max-width: 80%;
      @include ellipsis(3);
    }
  }

  &__form {
    @include display-flex($align-items: flex-start, $flex-direction: column);
    gap: rem(10);

    @include breakpoint(md) {
      @include display-flex(flex-start, flex-start, row);
      gap: rem(25);
    }
    @include breakpoint(lg) {
      gap: rem(30);
    }
    @include breakpoint(xl) {
      @include display-flex(space-between, flex-end, column);
      min-width: 50%;
      gap: rem(20);
    }
  }
  &__email-wrapper {
    @include breakpoint(md) {
      max-width: 57%;
    }
    @include breakpoint(xl) {
      min-width: 100%;
      text-align: right;
    }
  }
  &__input-wrapper {
    width: 100%;
    display: flex;
  }

  &__email-input {
    padding: rem(8) rem(15);

    @include breakpoint(xl) {
      min-width: 90%;
    }
  }

  &__subscribe-btn {
    padding: rem(10) rem(15);
  }
}
