.pre-footer {
  margin-top: rem(36);
  border-top: 1px solid $gainsboro-1;
  border-bottom: 1px solid $gainsboro-1;
  padding-block: rem(45);

  @include breakpoint(md) {
    margin-top: rem(50);
    border-bottom: none;
  }
  @include breakpoint(lg) {
    margin-top: rem(110);
    padding-block: rem(35);
  }
  @include breakpoint(xl) {
    margin-top: rem(110);
    padding-block: rem(83);
  }

  &__content {
    @include display-flex(space-between, flex-start, column);
    gap: rem(32);

    @include breakpoint(md) {
      @include display-flex(space-between);
      gap: rem(50);
    }
    @include breakpoint(md) {
      gap: rem(110);
    }
  }

  &__btn {
    padding: rem(11) rem(16);
  }
}
