.slider {
  margin-top: rem(40);
  @include breakpoint(md) {
    margin-top: rem(66);
  }
  @include breakpoint(lg) {
    margin-top: rem(120);
  }
  &__text {
    @include display-flex(center, center, column);
  }
  &__heading {
    @include heading-typography;
    @include ellipsis(2);
    word-break: break-all;
  }

  &__para {
    @include description-typography;
    @include ellipsis(3);
    margin-top: rem(15);
    text-align: center;


    @include breakpoint(md){
        
        @include ellipsis(2);
    }
    @include breakpoint(lg) {
      margin-top: rem(25);
    }
  }
}

.glide {
    margin-top: rem(80);
    text-align: center;
    // @include display-flex(center
    // , center,column);

    &__track{
        margin-bottom: rem(60);
    }
    &__bullet{
        border: none;
        border-radius: 50%;
        height: rem(8);
        width: rem(8);
        padding: 0;
        margin-right: rem(5);
    }
    &__bullet--active {
        background-color: blue;
        transition: 1s ease-in;
    }

 
    &__slide{
      @include display-flex(space-between);

      @include breakpoint(md) {
        @include display-flex(flex-start, flex-start);
      }
      border: rem(1) solid $primary-color;
      border-radius: rem(8);
      min-height: rem(260);
      padding: rem(30) rem(20);
      // width: rem(370);
    }

    .card {
        // &__profile-pic-wrapper {
        //     border: 1px solid green;
        // }
      &__text {
        // border: 1px solid red;
        @include display-flex(space-between, flex-start, column);

        width: 70%;

        @include breakpoint(md) {
            margin-top: rem(15);
            margin-left: rem(30);
        }
      }
      &__para {
        @include description-typography;

        margin: rem(18) 0;
        @include breakpoint(md) {
            text-align: left;

        }
      }

      &__auth-icons {
        @include display-flex(space-between);
        width: 100%;
        // border: 1px solid green;
      }

      &__auth-para {
        @include button-typography;
        color: $secondary-color;
      }
      &__socialmedia-wrapper {
        // border: 1px solid blue;
        @include display-flex(space-between);
        gap: rem(15);
      }
      &__socialmedia-icons {
        color: $para-xs-text-color;
        font-size: rem(20);

        // border: 1px solid blue;
      }
    }
  }
