.statistics {
  display: none;
  @include breakpoint(xl) {
    @include display-flex(space-between);
    margin: rem(190) 0;
  }

  &__graph {
    @include display-flex(center, center);
    min-width: rem(260);
    min-height: rem(260);
    border-radius: 50%;
    position: relative;
    background: conic-gradient(
      $primary-light-sea-green 0deg 105deg,
      $light-sea-green 105deg 190deg,
      $gainsboro-dark 190deg 255deg,
      $white-smoke 255deg 360deg
    );
  }

  .graph {
    &__inner-circle {
      min-width: rem(120);
      min-height: rem(120);
      border-radius: 50%;
      background: $white;
    }

    &__square {
      position: absolute;
      top: -5%;
      left: 5%;
      min-width: rem(100);
      min-height: rem(100);
      border: 1px dashed $nobel;
    }
  }

  &__numbers {
    @include display-flex(flex-start, center, column);
    gap: rem(90);

    .numbers {
      &__downloads {
        @include display-flex(flex-start, flex-start);
        gap: rem(10);
        &-indicator {
          min-width: rem(24);
          min-height: rem(24);
          border-radius: 50%;
          background-color: $primary-light-sea-green;
          margin-top: rem(15);
        }

        .downloads {
          &__heading {
            @include heading-typography;
          }
          &__para {
            @include description-typography-sm;
          }
        }
      }

      &__subscribers {
        @include display-flex;
        gap: rem(10);

        &-indicator {
          min-width: rem(24);
          min-height: rem(24);
          border-radius: 50%;
          background-color: $gainsboro-dark;
          margin-bottom: rem(26);
        }

        .subscribers {
          &__heading {
            @include heading-typography;
          }
          &__para {
            @include description-typography-sm;
          }
        }
      }
    }
  }

  &__info {
    @include display-flex(flex-start, center, column);
    max-width: 40%;

    .info {
      &__para-one {
        @include description-typography-sm;
        @include ellipsis(5);
        margin-bottom: rem(30);
      }

      &__para-two {
        @include description-typography-xs;
        @include ellipsis(2);
        color: $nobel;
        margin-bottom: rem(25);
      }
    }
  }
}
