//Buttons
.btn {
  background-color: $blue-2;
  border-radius: rem(6);
  padding: rem(10) rem(12);
  color: $white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $blue-1;
  }

  &--icon {
    @extend .btn;
    @include display-flex;
    gap: rem(12);
    &-text,
    &-wrapper {
      @include display-flex;
    }
  }
}
