//Buttons
.btn {
  background-color: $primary-light-sea-green;
  border-radius: rem(6);
  padding: rem(10) rem(12);
  color: $white;
  border: none;
  cursor: pointer;
  @include button-typography;
  &:hover {
    background-color: $dark-light-sea-green;
  }
}
