//Buttons
.btn {
  background-color: $light-sea-green-1;
  border-radius: rem(6);
  padding: rem(10) rem(12);
  color: $white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $light-sea-green-2;
  }

  &__text,
  &__icon-wrapper {
    @include display-flex;
  }

  &--icon {
    @include display-flex;
    gap: rem(12);
  }
}
