.input-wrapper {
  @include display-flex(flex-start,normal);
}

.email-input {
  border: 1px solid $gainsboro-1;
  border-radius: rem(6);
  color: $matterhorn;
  width: 100%;
}

.email-field-msg {
  display: none;
  margin-top: rem(5);

  &--error {
    display: flex;
    color: $red;
  }

  &--success {
    display: flex;
    color: $green;
  }
}
