@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

@mixin display-flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin heading-typography(
  $font-size: rem(40),
  $letter-spacing: rem(-1.2),
  $line-height: rem(60),
) {
  font-weight: $semibold-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin description-typography(
  $font-size: rem(20),
  $letter-spacing: rem(-0.3),
  $line-height: rem(30),

) {
  font-weight: $regular-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin nav-links-typography {
  font-weight: $medium-weight;
  font-size: rem(15);
  line-height: rem(22);
  letter-spacing: rem(-0.1);
}

@mixin button-typography {
  font-weight: $medium-weight;
  font-size: rem(20);
  line-height: rem(26);
  letter-spacing: rem(-0.2);
}
