$html-font-size: 10px;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$red: rgba(255, 0, 0, 1);
$green: rgba(0, 96, 0, 1);

$blue-0: rgba(36, 175, 181, 0.2);
$blue-2: rgba(36, 175, 181, 1);
$blue-1: rgba(39, 190, 196, 1);

$gray-0: rgba(243, 243, 243, 1);
$gray-1: rgba(222, 222, 222, 1);
$gray-2: rgba(219, 219, 219, 1);
$gray-3: rgba(150, 150, 150, 1);
$gray-4: rgba(88, 87, 87, 1);

$regular-weight: 400;
$medium-weight: 600;
$semibold-weight: 700;
$bold-weight: 800;

$breakpoints: (
  "sm": 320px,
  "md": 568px,
  "lg": 768px,
  "xl": 992px,
);
