html {
  font-size: $html-font-size;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}
h1 {
  margin: 0;
}

p {
  color: $text-color;
}

a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  cursor: pointer;

  &:hover {
    color: $primary-color !important;
  }
}
