@font-face {
  font-family: "Poppins";
  src: url("@fonts/Poppins-Regular.woff") format("woff");
  font-weight: $regular-weight;
}

@font-face {
  font-family: "Poppins";
  src: url("@fonts/Poppins-Medium.woff") format("woff");
  font-weight: $medium-weight;
}

@font-face {
  font-family: "Poppins";
  src: url("@fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: $semibold-weight;
}


@font-face {
  font-family: "Poppins";
  src: url("@fonts/Poppins-Bold.woff") format("woff");
  font-weight: $bold-weight;
}
