.primary-heading {
  font-weight: $semibold-weight;
  font-size: rem(36);
  letter-spacing: rem(-0.8);
  line-height: rem(46);

  @include breakpoint(md) {
    font-size: rem(40);
    letter-spacing: rem(-1.2);
    line-height: rem(60);
  }
  @include breakpoint(lg) {
    font-size: rem(32);
    line-height: rem(40);
  }
  @include breakpoint(xl) {
    font-size: rem(40);
    letter-spacing: rem(-1.2);
    line-height: rem(60);
  }
}

.secondary-heading {
  font-weight: $medium-weight;
  font-size: rem(24);
  letter-spacing: rem(-0.4);
  line-height: rem(32);
}

.primary-description {
  font-weight: $regular-weight;
  font-size: rem(20);
  letter-spacing: rem(-0.3);
  line-height: rem(30);
  color: $matterhorn;

  @include breakpoint(md) {
    font-size: rem(16);
  }
}

.secondary-description {
  font-weight: $regular-weight;
  font-size: rem(15);
  letter-spacing: rem(-0.2);
  line-height: rem(22);
  color: $matterhorn;
}

.tertiary-description {
  font-weight: $regular-weight;
  font-size: rem(13);
  letter-spacing: rem(-0.1);
  line-height: rem(18);
  color: $nobel;
}

.text {
  font-weight: $medium-weight;
  font-size: rem(20);
  line-height: rem(26);
  letter-spacing: rem(-0.2);
}

.nav-links-text {
  font-weight: $medium-weight;
  font-size: rem(15);
  line-height: rem(22);
  letter-spacing: rem(-0.1);
}
