.main-container {
  margin: 0 auto;
  max-width: 1300px;
}

.section-container {
  padding: 0 rem(15);

  @include breakpoint(md) {
    padding: 0 rem(30);
  }
  @include breakpoint(lg) {
    padding: 0 rem(35);
  }
  @include breakpoint(xl) {
    padding: 0 rem(95);
  }
}
